<context-menu #basicMenu>
    <ng-template contextMenuItem (execute)="addEvent($event.item)">
      Add event
    </ng-template>
  </context-menu>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
      >{{ day.badgeTotal }}</span
    > -->
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
    >
  </div>
  <!-- <small *ngFor="let item of day.events" style="margin: 5px;"
    > {{item.title}}</small> -->
  <!-- <div class="cal-cell-top"> -->
      <a *ngFor="let item of day.events" style="margin: 5px;" (click)="handleEvent('Edited', item)" >{{item.title}}</a>
  <!-- </div> -->
</ng-template>

<div id="wrapperSchedule">
    <div class="col-lg-12">
      <p>{{counts}}</p>
      <!-- <ul id="scrolls">
        <li *ngFor="let itemslist of statuslists">
          <p>{{itemslist.name}} {{itemslist.startHour}} - {{itemslist.endHour}}</p>
        </li>
        <li> -->
          <!-- <ul *ngFor="let itemslist1 of itemslist.widgets">
            <li *ngFor="let itemslist2 of itemslist1.deviceRw">
              <p> {{itemslist2.name}}</p>
            </li>
          </ul> -->
        <!-- </li>
     
      </ul> -->
      <ul id="scrolls">
        <li *ngFor="let itemslist of statuslists">
          <p>{{itemslist.name}} {{itemslist.startHour}} - {{itemslist.endHour}}</p>
        </li>
      </ul>
      
		 


<!--        
      <ul>
        <li *ngFor="let items of products"><span>{{items.id}}</span><small>{{items.name}}</small></li>
      </ul> -->
    </div>
        <div class="col-lg-12">
        <div class="row">
                <div class="col-lg-1 no-padding">
                    <app-aside></app-aside>
                </div>
                <div class="col-lg-11  ">
                    <div id="wrapper_content">
                    <div id="eos_sheduler">
                        <div class="row text-center">
                            <div class="col-md-4">
                              <div class="btn-group">
                                <div
                                  class="btn btn-primary"
                                  mwlCalendarPreviousView
                                  [view]="view"
                                  [(viewDate)]="viewDate"
                                  (viewDateChange)="closeOpenMonthViewDay()"
                                >
                                  Previous
                                </div>
                                <div
                                  class="btn btn-outline-secondary"
                                  mwlCalendarToday
                                  [(viewDate)]="viewDate"
                                >
                                  Today
                                </div>
                                <div
                                  class="btn btn-primary"
                                  mwlCalendarNextView
                                  [view]="view"
                                  [(viewDate)]="viewDate"
                                  (viewDateChange)="closeOpenMonthViewDay()"
                                >
                                  Next
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                            </div>
                            <div class="col-md-4">
                              <div class="btn-group">
                                <div
                                  class="btn btn-primary"
                                  (click)="setView(CalendarView.Month)"
                                  [class.active]="view === CalendarView.Month"
                                >
                                  Month
                                </div>
                                <div
                                  class="btn btn-primary"
                                  (click)="setView(CalendarView.Week)"
                                  [class.active]="view === CalendarView.Week"
                                >
                                  Week
                                </div>
                                <div
                                  class="btn btn-primary"
                                  (click)="setView(CalendarView.Day)"
                                  [class.active]="view === CalendarView.Day"
                                >
                                  Day
                                </div>
                              </div>
                            </div>
                          </div>
                          <br />
                          
                          <div [ngSwitch]="view">
                            
                            <mwl-calendar-month-view
                              *ngSwitchCase="CalendarView.Month"
                              [viewDate]="viewDate"
                              [events]="events"
                              [refresh]="refresh"
                              (dayClicked)="dayClicked($event.day)"
                              (eventClicked)="handleEvent('Clicked', $event.event)"
                              (eventTimesChanged)="eventTimesChanged($event)"
                              [cellTemplate]="monthCellTemplate"
                            >
                            <!-- <mwl-calendar-month-cell *ngFor="let itemslist of statuslists">
                              <p>{{itemslist.name}} {{itemslist.startHour}} - {{itemslist.endHour}}</p>
                            </mwl-calendar-month-cell>   -->


                            </mwl-calendar-month-view>
                            <mwl-calendar-week-view
                              *ngSwitchCase="CalendarView.Week"
                              [viewDate]="viewDate"
                              [events]="events"
                              [refresh]="refresh"
                              (eventClicked)="handleEvent('Clicked', $event.event)"
                              (eventTimesChanged)="eventTimesChanged($event)"
                            >
                            </mwl-calendar-week-view>
                            <mwl-calendar-day-view
                              *ngSwitchCase="CalendarView.Day"
                              [viewDate]="viewDate"
                              [events]="events"
                              [refresh]="refresh"
                              (eventClicked)="handleEvent('Clicked', $event.event)"
                              (eventTimesChanged)="eventTimesChanged($event)"
                            >
                            </mwl-calendar-day-view>
                          </div>
                          
                          
                          <br /><br /><br />
                          
                          
                    </div>
            </div>
        </div>
     
    </div>
</div>
<ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
          <div class="form-group">
            <label>Title</label>
            <div class="input-group">
              <input class="form-control" [ngModel]="modalData.event.title" placeholder="Title" name="dp">
              
            </div>
          </div>
        </form>
      <!-- <div>
        Action:
        <pre>czxczx-{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div> -->
      <pre>{{ modalData?.event | json }}</pre>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>



  <ng-template
  #monthCellTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
>
  <div
    class="fill-height"
    [contextMenu]="basicMenu"
    [contextMenuSubject]="day.date"
  >
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
        >{{ day.badgeTotal }}</span
      >
      <span class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
    </div>
    <!-- <a *ngFor="let item of day.events" style="margin: 5px;" (click)="handleEvent('Edited', item)" >{{item.title}}</a> -->
    <div >
      <div
        *ngFor="let event of day.events"
        (mouseenter)="highlightDay.emit({event: event})"
        (mouseleave)="unhighlightDay.emit({event: event})"
        [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
        [tooltipPlacement]="tooltipPlacement"
        (click)="$event.stopPropagation(); eventClicked.emit({event: event})"
      >{{event.title}}</div>
    </div>
  </div>
</ng-template>

<!-- <ng-template
  #weekHeaderTemplate
  let-days="days"
  let-locale="locale"
  let-dayHeaderClicked="dayHeaderClicked"
>
  <div class="cal-day-headers">
    <div
      class="cal-header"
      *ngFor="let day of days"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      (click)="dayHeaderClicked.emit({day: day})"
      [contextMenu]="basicMenu"
      [contextMenuSubject]="day.date"
    >
      <b>{{ day.date | calendarDate:'weekViewColumnHeader':locale }}</b><br />
      <span
        >{{ day.date | calendarDate:'weekViewColumnSubHeader':locale }}</span
      >
    </div>
  </div>
</ng-template> -->

<!-- <ng-template
  #dayHourSegmentTemplate
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
>
  <div
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    [contextMenu]="basicMenu"
    [contextMenuSubject]="segment.date"
  >
    <div class="cal-time">
      {{ segment.date | calendarDate: 'dayViewHour':locale }}
    </div>
  </div>
</ng-template> -->

<!-- <ng-template
  #weekViewHourSegment
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    class="cal-hour-segment"
    [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass"
    [contextMenu]="basicMenu"
    [contextMenuSubject]="segment.date"
  >
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate: 'weekViewHour':locale }}
    </div>
  </div>
</ng-template> -->
  