<aside>
<ul class="custom_lsits">
    <li>
        <a routerLink="/planner" routerLinkActive="active">
         <i class="fas fa-calendar-alt"></i>
         <span class="aside">Planner</span>
        </a>
    </li>
    <li><a routerLink="/ctrl-points" routerLinkActive="active"> 
        <i class="fas fa-tools"></i>
        <span class="aside">Ctrl Points</span>
    </a></li>
    <li><a routerLink="/status" routerLinkActive="active"> 
        <i class="fas fa-circle-notch"></i>
        <span class="aside">Status</span>
    </a></li>
    <li><a routerLink="/graphics" routerLinkActive="active"> 
        <i class="fas fa-hockey-puck"></i>
        <span class="aside">Graphics</span>
    </a></li>
 
</ul>

    </aside>
