 

    <div class="col-lg-12 aasif">
    <div class="row">
        <div class="col-lg-1  no-padding">
			<app-aside></app-aside>
		</div>
        <div class="col-lg-11  ">
 
			<div id="wrapper_content">
		<div class="ctrl_points">
			<div class="top_head">
				<!-- <img src="../../../assets/images/pic.png"> -->
				<select  [(ngModel)]="selectedUser" (change)="onChange($event.target.id)">
					<option  *ngFor="let modeval of controlListOptions" [value]="modeval.id">{{modeval.name}}</option>
					<!-- <option value=">BLDGA - 24/7">BLDGA - 24/7</option> -->
				</select> 
				<div class="right_icons">
					<i class="fas fa-sync-alt"></i>
					<i class="fas fa-ellipsis-v"></i>
					<i class="fas fa-bars"></i>
				</div>
			</div>

			<div class="head_text">
				<div class="head_inner">
					<h4>Current</h4>
					<h4>EOS</h4>
					<h4>Status</h4>
				</div>
				<div class="head_inner">
					<h4>Current</h4>
					<h4>EOS</h4>
					<h4>Status</h4>
				</div>
			</div>

			<div class="hide_show accordion" (click)="section['first'] = !section['first']">
				<h4><i class="fas fa-plus"  *ngIf="!section['first']"></i><i class="fas fa-minus" *ngIf="section['first']"></i> <small *ngFor="let ctlLst of controlListArray">{{ctlLst.name}}</small></h4>
				<div class="power_icons eos_ctrlPoint_toggle" data-title="Turn Optimization Off">
					<i  data-toggle="modal" data-target="#myModal1" class="fa fa-power-off clr_green"></i>
					<p>{{countList}}</p>
				 </div>
				
			</div>
			<div  class="hidden_flex panel" *ngIf="section['first']">
				<ul>
				 
						<!-- <ul>
								<li *ngFor="let ctlLst of controlListArray">
									<p *ngFor="let ctlLst1 of ctlLst.equipmentSetFields">{{ctlLst1.name}}</p>
								</li>
						</ul> -->


							<!--<[ngClass]="o_tooltip">-->  



						<li *ngFor="let ctlLst of controlListArray">
							<div class="controlListBlocks" *ngFor="let ctlLst1 of ctlLst.equipmentSetFields">
								<div class="chk_div">
									<input type="checkbox" name="">
									<label class="chk_label">{{ctlLst1.name}}</label>
								</div>
								<div class="ipt">
									<input type="text" [(ngModel)]="ctlLst1.currentValue" name="">
									<input type="text" [(ngModel)]="ctlLst1.currentEOSValue" name="">
								</div>
 
								<div class="status">
									<label data-title="Readable" [ngClass]="{ 'readable_bg': ctlLst1.readable == true}">R</label>
									<label data-title="Writable" [ngClass]="{ 'writable_bg':ctlLst1.writable == true}">W</label>
									<label data-title="Controlled/Optimizable by EOS" [ngClass]="{ 'controllable_bg' : ctlLst1.controllable == true}">C</label>
		  							<label data-title="Optimizable by EOS" [ngClass]="{ 'incontrol_bg' : ctlLst1.incontrol == true }">O</label>
									<label data-title="Virtual" >V</label>
								</div>
							</div>
							
						</li>  
				 
		 
					 														
<!-- ----------------------------------------- -->


				</ul>


			</div>

		</div>


        </div>
    </div>
	</div>
</div>
 
 
