<div class="container-fluid">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-1 no-padding">
                <app-aside></app-aside>
            </div>
            <div class="col-lg-11">
                <div class="eos_loader_response">
                    <div class="status_component">
                        <div class="top_head">
                            <h4>Status</h4>
                            <div class="right_icons">
                                <i class="fas fa-sync-alt" (click)="eosRefresh()"></i>
                            </div>
                        </div>

                        <div class="head_text">
                            <div class="head_inner">
                                <h4>Status</h4>
                            </div>
                            <div class="head_inner">
                                <h4>Status</h4>
                            </div>
                        </div>

                        <div class="eos_accordion_header" [attr.id]="'accordion_' + i" *ngFor="let statusList of statusListArray; let i = index;">
                            <div class="hide_show accordion" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i">
                                <h4><i class="fas fa-plus"></i><i class="fas fa-minus"></i> {{statusList.name}}</h4>
                                <p>5</p>
                            </div>
                            <div [attr.id]="'collapseOne_' + i" class="hidden_flex panel panel-collapse collapse in">
                                <ul>
                                    <li>
                                        <div class="eos_accordion_subHeader" *ngFor="let statusList1 of statusList.widgets">
                                            <div class="eos_accordion_nestedSubHeader" *ngFor="let statusList2 of statusList1.deviceRw">
                                                <div class="chk_div">
                                                    <span class="settings"><i (click)="open(confirm_settings, statusList2)" class="fa fa-wrench"></i></span>

                                                
                                                    <label class="chk_label">{{statusList2.name}}</label>
                                                </div>
                                                <div class="ipt">
                                                    <input type="text" [(ngModel)]="statusList2.currentValue" name="" />
                                                    <input class="big_input" type="text" [(ngModel)]="statusList2.activityLogMessage" name="" />
                                                </div>
                                                <div class="power_icons">
                                                    <i class="fa fa-power-off clr_green" (click)="open(confirm_optimization)"></i>
                                                    <!-- Modal Optimization-->
                                                    <div id="eos-setting">
                                                        <!-- Modal -->
                                                             <ng-template #confirm_optimization class="modal fade new" role="dialog">
                                                            <div class="modal-dialog">
                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">EOS Optimization control</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="eos-btn-grp">
                                                                            <button class="selectnone" (click)="UnCheckAllOptions()">Select None</button>
                                                                            <button class="selectall" (click)="CheckAllOptions()">Select All</button>
                                                                        </div>
                                                                        <div class="checkbox-list-select">
                                                                            <div *ngFor="let checkbox of checkboxes"><input type="checkbox" [(ngModel)]="checkbox.checked" [value]="checkbox.value" /><span>{{checkbox.name}}</span></div>
                                                                        </div>
                                                                        <div class="eos-btn-grp">
                                                                            <button class="optim_off">Selected optimization Off</button>
                                                                            <button class="optim_on">Selected optimization On</button>
                                                                        </div>
                                                                        <div class="eos-btn-grp text-center">
                                                                            <button class="cancel">Cancel</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </ng-template>
                                                      
                                                    </div>
                                                    <!--modal optimization End-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--Modal End-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #customLoadingTemplate id="uiLoaders" style="width: 100%; height: 100vh;"></ng-template>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
            </div>
        </div>
    </div>
</div>


    <!--Modal Setting icons-->
    <ng-template #confirm_settings class="modal fade new" role="dialog">
        <div id="eos-setting">
              <div class="w_100">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><span>{{modalData.name}}</span></h4>
                        </div>
                        <div class="modal-body">
                            <div class="hidden_flex panel">
                                <ul>
                                    <li *ngFor="let menus of manufactArray">
                                        <div class="chk_div">
                                            <label class="chk_label">{{menus.name}}</label>
                                        </div>
                                        <div class="ipt">
                                            <input type="text" [(ngModel)]="menus.currentEosValue" name="" />
                                            <input type="text"[(ngModel)]="menus.currentValue" name="" />
                                        </div>
                                        <div class="status">
                                            <label [ngClass]="{ 'readable_bg': menus.readable == true}" data-title="Readable" class="blue_bg">R</label>
                                            <label [ngClass]="{ 'writable_bg': menus.writable == true}" data-title="Writable">W</label>
                                            <label [ngClass]="{ 'controllable_bg': menus.controllable == true}" data-title="Controlled/Optimizable by EOS">C</label>
                                            <label [ngClass]="{ 'incontrol_bg': menus.incontrol == true}" class="o_tooltip" data-title="Optimizable by EOS">O</label>
                                            <label data-title="Virtual">V</label> 
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              
              </div>
        </div>
    </ng-template>
    <!--modal Setting icons end-->