<div class="container-fluid">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-1 no-padding">
                <app-aside></app-aside>
            </div>
            <div class="col-lg-11">
                <div class="status_component">
                    <div class="top_head">
                        <h4>Status</h4>
                        <div class="right_icons">
                            <i class="fa fa-refresh"></i>
                        </div>
                    </div>

                    <div class="head_text">
                        <div class="head_inner">
                            <h4>Status</h4>
                        </div>
                        <div class="head_inner">
                            <h4>Status</h4>
                        </div>
                    </div>

                    <div class="eos_accordion_header" *ngFor="let statusList of statusListArray">
                        <div class="eos_accordion_subHeader" *ngFor="let statusList1 of statusList.widgets">
                            <div class="eos_accordion_nestedSubHeader" *ngFor="let statusList2 of statusList1.deviceRw">
                                <div class="hide_show accordion" (click)="section['first'] = !section['first']">
                                    <h4><i class="fa fa-plus" *ngIf="!section['first']"></i><i class="fa fa-minus pane" *ngIf="section['first']"></i>{{statusList.name}}</h4>
                                    <p>{{countList}}</p>
                                </div>
                                <div class="hidden_flex panel" *ngIf="section['first']">
                                    <ul>
                                        <li>
                                            <div class="chk_div">
                                                <span class="settings"><i data-toggle="modal" data-target="#myModal" class="fa fa-wrench"></i></span>
                                                <label class="chk_label">{{statusList2.name}}</label>
                                            </div>
                                            <div class="ipt">
                                                <input type="text" [(ngModel)]="statusList2.currentValue" name="" />
                                                <input class="big_input" type="text" [(ngModel)]="statusList2.activityLogMessage" name="" />
                                            </div>
                                            <div class="power_icons">
                                                <i class="fa fa-power-off clr_green" ></i>
                                            </div>
                                            <!--Modal-->
                                            <div id="eos-setting">
                                                <div class="modal fade setting_eos-modal" id="myModal" role="dialog">
                                                    <div class="modal-dialog">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">{{statusList2.name}}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="hidden_flex panel">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="chk_div">
                                                                                <label class="chk_label">{{statusList2.attributes.StatusView}}</label>
                                                                            </div>
                                                                            <div class="ipt">
                                                                                <input type="text" [(ngModel)]="statusList2.currentValue" name="" />
                                                                                <input type="text" name="" />
                                                                            </div>
                                                                            <div class="status">
                                                                                <label [ngClass]="{ 'readable_bg': statusList2.readable == true}" data-title="Readable" class="blue_bg">R</label>
                                                                                <label [ngClass]="{ 'writable_bg': statusList2.writable == true}" data-title="Writable">W</label>
                                                                                <label [ngClass]="{ 'controllable_bg': statusList2.controllable == true}" data-title="Controlled/Optimizable by EOS">C</label>
                                                                                <label [ngClass]="{ 'incontrol_bg': statusList2.incontrol == true}" class="o_tooltip" data-title="Optimizable by EOS">O</label>
                                                                                <label data-title="Virtual">V</label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Modal End-->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
