
/*ctrl_points Start*/

@media only screen and (min-width: 320px) and (max-width: 1023px){
	.hidden_flex ul li{width: 100%;}
	.head_text .head_inner{width: 100%;}
	.head_text .head_inner:last-child{display: none;}
}
@media only screen and (min-width: 320px) and (max-width: 600px){
	.chk_div,.ipt,.status{min-width: 170px;align-items: flex-start;text-align: left;margin-bottom: 10px;}
	.head_inner h4:nth-child(3){min-width: 40%;}
	.status_component .ipt {width: 80%;max-width: 80%;}
	.status_component .ipt{margin-bottom: 0px;}
	[data-title]:hover::before {top: unset;right: unset;bottom: -32px;}
	[data-title]:hover::after {bottom: -10px;left: 8px;right: unset;border: 6px solid transparent;border-bottom: 8px solid #f1ffa4;}
	.o_tooltip[data-title]:hover::before{right: -120px;}


	.power_icons[data-title]:hover::before {
		content: attr(data-title);
		position: absolute;
		right: 32px;
    top: 0px;
    bottom: -2px;
		display: inline-block;
		padding: 4px 6px;
		border-radius: 2px;
		background: #f1ffa4;
		color: #000;
		font-size: 12px;
		white-space: nowrap;
	  }
	  .power_icons[data-title]:hover::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 11px;
		right: 0;
		left: -3px;
		display: inline-block;
		color: #fff;
		border: 6px solid transparent;    
		border-left: 8px solid #f1ffa4;
	  }
	  
}
@media screen and (max-width:576px)
{
	.flexibles , .controlListBlocks{
		width: 100%;
	}
	.controlListBlocks>* {
		width: 330px;
	}
	.ctrl_points {
		width:600px;
	}
	div#wrapper_content {
		width: 100%;
		overflow-x: auto;

	}
	.eos_loader_response {
		width: 100%;
		overflow-x: auto;
	}
	.status_component {
		width: 600px;
	}
	.eos_accordion_subHeader .eos_accordion_nestedSubHeader {
		width: 100%;
	}
	.head_inner h4:nth-child(3) { 
		width: 43%;
	}
	
 
}
@media screen and (max-width:991px)
{
	 
	.flexibles,.controlListBlocks {
		width: 100%;
	}
	.controlListBlocks>div {
		width: 33%;
	}
 
 
}
@media screen and (min-width:992px) and (max-width:1023px)
{
	.controlListBlocks {
		width: 100%; 
	}
	.head_text .head_inner:last-child {
		display: block;
	}
	.head_text .head_inner {
		width: 50%;
	}
}

@media screen and (min-width:1000px)
{
    .hidden_flex.panel ul#eos_height_adjusant li .controlListBlocks {
		width: 100%;
	}
	/* .hidden_flex.panel ul#eos_height_adjusant li {
		display: unset;
		height: 600px;
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
		-moz-column-fill: balance;
		column-fill: balance;
	} */
 
}

/*ctrl_points End*/

/*Graphics*/
@media screen and (max-width:1920px)
{
	.mobGraphics {
		width: 1200px; 
		margin: 0px auto;
	}
	.eos_graphChart {
		width: 1200px;
	}
	div#eos_graphs {
		width: 100%;
		overflow-x: auto;
	}
}
 
/*Graphics End*/



@media screen and (max-width:600px)
{
	div#eos-setting .hidden_flex.panel ul li {
		flex-direction: column;
	}
	div#eos-setting .hidden_flex.panel ul li>* {
		width: 100%;
		min-width: 100%;
	}
	div#eos-setting .hidden_flex.panel ul li .ipt input {
		width: 50%;
	}
	div#eos-setting .hidden_flex.panel ul li .ipt {
		display: flex;
	}
}

@media screen and (max-width:450px)
{
	.eos-btn-grp {
		flex-direction: column;
	}
	.eos-btn-grp button {
		width: 100%;
		margin-bottom: 10px;
	}
}



@media screen and (max-width:767px)
{
	.eos_accordion_subHeader .eos_accordion_nestedSubHeader {
		width: 100%; 
	}
}